apiVersion: apps/v1
kind: Deployment
metadata:
  name: mongo-deployment
  namespace: todo-k8s
spec:
  replicas: 1
  selector:
    matchLabels:
      app: todo-mongo
  template:
    metadata:
      labels:
        app: todo-mongo
    spec:
      containers:
        - name: mongo
          image: mongo:6
          ports:
            - containerPort: 27017
          volumeMounts:
            - name: mongo-storage
              mountPath: /data/db
      volumes:
        - name: mongo-storage
          persistentVolumeClaim:
            claimName: mongo-pvc
---
apiVersion: v1
kind: Service
metadata:
  name: mongo-service
  namespace: todo-k8s
spec:
  selector:
    app: todo-mongo
  ports:
    - name: mongo
      port: 27017
      targetPort: 27017
  type: ClusterIP
